<style>
	.note {
		background-color: #f2f2f2;
		padding: 20px;
		margin-bottom: 20px;
	}

	.note .user {
		font-weight: bold;
		margin-right: 10px;
	}

	.note .bot {
		color: #666;
	}

    .delete-btn {
        background-color: #8a3832;
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-left: 10px;
        cursor: pointer;
    }
	.add-btnn {
        background-color: #48ae9c;
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-left: 10px;
        cursor: pointer;
    }

</style>


<navbar class="navbar-container">
       <div class="logo-container">
            <a>Conversations</a>
        </div>



        <ul class="nav-items">
			<li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="/conversations">conversations</a></li>
            <li class="nav-link"><a href="/questions">Q_R</a></li>
            <li class="nav-link"><a href="/logout">LogOut</a></li>
        </ul>
</navbar>


{{#if conversations}}
	<ul>
		{{#each conversations}}
			<li class="note">
				<span class="user">{{this.user_input}}</span>
				<span class="bot">{{this.bot_response}}</span>         
                <button class="delete-btn" onclick="deleteConv('{{this._id}}')"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a></button>
				<button class="add-btnn"> <a href="NewQuestion"><span>Add New Tag</span></a></button>
			</li>

		{{/each}}
	</ul>
{{else}}
	<p>No conversations found.</p>
{{/if}}

<script>
   function deleteConv(id) {
    fetch('/conversations/' + id, { method: 'DELETE' })
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to delete conversation');
            }
            alert('Conversation deleted successfully!');
            location.reload();
        })
        .catch(error => {
            console.error(error);
        });
	}
</script>
