<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/conversations">Conversations</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  
  {{{body}}}
</body>
