
<body>
	<form action="/questions" method="POST">
		<label for="tag">Tag:</label>
		<input type="text" id="tag" name="tag" required>
		<br><br>
		<label for="patterns">Patterns:</label>
		<textarea id="patterns" name="patterns" rows="4" cols="50" required></textarea>
		<br><br>
		<label for="responses">Responses:</label>
		<textarea id="responses" name="responses" rows="4" cols="50" required></textarea>
		<br><br>
		<input type="submit" value="Submit">
	</form>
</body>

<style>
	
form {
	display: block;
	width: 100%;
	max-width: 400px;
	padding: 50px 30px;
	background-image: linear-gradient(to bottom, #8e9dbd, #105d87);
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
	border-radius: 16px;
}

form h1 {
	color: #FFF;
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 30px;
}


form .form-group {
	margin-bottom: 30px;
}

form label {
	display: block;
	color:#eee;
	font-size: 14px;
	margin-bottom: 5px;
}

form input {
	appearance: none;
	background: none;
	outline: none;
	border: none;
}

form input:not([type="submit"]) {
	display: block;
	width: 100%;
	padding: 15px;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	transition: 0.4s;
	color: #222;
	font-size: 18px;
	font-weight: 300;
}

form input:not([type="submit"])::placeholder {
	color: #CCC;
}

form input:not([type="submit"]):focus, form input:not([type="submit"]):valid {
	background-color: #fff;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

form input[type="submit"] {
	display: block;
	width: 100%;
	padding: 15px;
	border-radius: 8px;
	background-color: #2F4960;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	transition: 0.4s;
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
}
</style>