<navbar class="navbar-container">
       <div class="logo-container">
            <a>Questions/Réponses</a>
        </div>


        <ul class="nav-items">
            <li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="/conversations">conversations</a></li>
            <li class="nav-link"><a href="/questions">Q_R</a></li>
            <li class="nav-link"><a href="/logout">LogOut</a></li>
        </ul>
</navbar>


<div class="hizmet-kart-icerik">
  <div class="buton-kapsa">
    
    {{#each questions}}
      <li class="hizmet-buton">
        <div onclick="openWindow('{{this._id}}')">
          {{#each this.intents}}
            <h2>Tag: {{this.tag}}</h2>
          {{/each}}
        </div>
        <button class="delete-btn" onclick="confirmDelete('{{this._id}}')">
        <span>Delete</span>
        </button>
      </li>
    {{/each}}
  </div>
</div>

<button class="add-btn"> <b href="NewQuestion">Add New Tag</b></button>

<script>
  function openWindow(intentId) {
    const url = `/tags/${intentId}`;
    window.open(url, 'myWindow', 'width=700,height=500');
  }
    function confirmDelete(intentId) {
    if (confirm('Are you sure you want to delete this tag?')) {
      window.location.href = '/questions/' + intentId + '/delete';
    }
  }
</script>


  <style>
	.note {
		background-color: #f2f2f2;
		padding: 20px;
		margin-bottom: 20px;
	}

	.note .user {
		font-weight: bold;
		margin-right: 10px;
	}

	.note .bot {
		color: #666;
	}

.add-btn {
        background-color: none;
        border: none;
        color: rgb(12, 41, 67);
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-left: 10px;
        cursor: pointer;
    }

.delete-btn {
        background-color: #8a3832;
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-left: 10px;
        cursor: pointer;
    }

</style>





