* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	font-family: 'Fira sans', sans-serif;
}

body {
	background-color: #2F4960;
	background-image: linear-gradient(to bottom right, #2F4960 10%, #102040);
}

.app {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.home {
	width: 100%;
	max-width: 400px;
	padding: 50px 30px;
	background-color: #ffffff;
	border-radius: 16px;
	text-align: center;
}

form {
	display: block;
	width: 100%;
	max-width: 400px;
	padding: 50px 30px;
	background-image: linear-gradient(to bottom, #00BC7E, #108775);
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
	border-radius: 16px;
}

form h1 {
	color: #FFF;
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.err-msg {
	padding: 10px 15px;
	background-color: #fff;
	border-radius: 8px;
	margin-bottom: 15px;
	color: red;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

form .form-group {
	margin-bottom: 30px;
}

form label {
	display: block;
	color:#eee;
	font-size: 14px;
	margin-bottom: 5px;
}

form input {
	appearance: none;
	background: none;
	outline: none;
	border: none;
}

form input:not([type="submit"]) {
	display: block;
	width: 100%;
	padding: 15px;
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	transition: 0.4s;
	color: #222;
	font-size: 18px;
	font-weight: 300;
}

form input:not([type="submit"])::placeholder {
	color: #CCC;
}

form input:not([type="submit"]):focus, form input:not([type="submit"]):valid {
	background-color: #fff;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

form input[type="submit"] {
	display: block;
	width: 100%;
	padding: 15px;
	border-radius: 8px;
	background-color: #2F4960;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	transition: 0.4s;
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  li {
	margin-bottom: 20px;
  }
  
  li strong {
	display: inline-block;
	width: 60px;
	font-weight: bold;
	margin-right: 10px;
  }
  
  li:nth-child(odd) {
	background-color: #f2f2f2;
  }
  
  li:nth-child(odd) strong {
	color: #555;
  }
  
  li:nth-child(even) {
	background-color: #ddd;
  }
  
  li:nth-child(even) strong {
	color: #333;
  }
  
  .conversations {
	margin: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	padding: 20px;
  }
  
  .conversations h2 {
	font-size: 24px;
	margin-bottom: 10px;
  }
  
  .conversations ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  .conversations li {
	margin-bottom: 20px;
	position: relative;
  }
  
  .conversations li strong {
	display: inline-block;
	width: 60px;
	font-weight: bold;
	margin-right: 10px;
  }
  
  .conversations li:nth-child(odd) {
	background-color: #f2f2f2;
  }
  
  .conversations li:nth-child(odd) strong {
	color: #555;
  }
  
  .conversations li:nth-child(even) {
	background-color: #ddd;
  }
  
  .conversations li:nth-child(even) strong {
	color: #333;
  }
  
  .conversations li button {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #ff0000;
	color:  red;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
  }

  
  body {
    background: rgba(11, 5, 29, 0.946);
}

a {
    text-decoration: none;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    height: 70px;
    align-items: center;
    background: rgba(11, 5, 29, 0.966);
    color: #5c9499;
    position:fixed;
    top:0;
    width: 100%;
}


.navbar-container .nav-items {
    display: flex;
    list-style-type: none;
    gap: 3rem;
    align-items: center;
}

.navbar-container .nav-items .nav-link a {
    color: #191414;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    padding: 10px;
    text-transform: uppercase;
}

.navbar-container .nav-items .nav-link:after {
    display: block;
    content: "";
    border-top: 2px solid rgb(140, 73, 254);
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    -webkit-transition: transform 250ms ease-in-out;
    -moz-transition: transform 250ms ease-in-out;
    -ms-transition: transform 250ms ease-in-out;
    -o-transition: transform 250ms ease-in-out;
}

.navbar-container .nav-items .nav-link:hover:after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
} 

.navbar-container .nav-items .nav-link a:hover {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}

.navbar-container .nav-items .login-register {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.navbar-container .nav-items .login-register .button {
    color: #fff;
    border: 2px solid rgb(116, 36, 255);
    padding: 5px 20px;
    border-radius:3px ;
    -webkit-border-radius:3px ;
    -moz-border-radius:3px ;
    -ms-border-radius:3px ;
    -o-border-radius:3px;
    text-transform: uppercase;
    transition: all ease-in 0.3s;
    -webkit-transition: all ease-in 0.3s;
    -moz-transition: all ease-in 0.3s;
    -ms-transition: all ease-in 0.3s;
    -o-transition: all ease-in 0.3s;
}

.navbar-container .nav-items .login-register .button:hover {
    background: rgb(116, 36, 255);
}


.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
}
 